body {
  background-color: #f5ebd3;
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
}

#titleHeader h1 {
  text-align: left;
  color: #2f3291;
  margin: 10px;
  font-size: 7vh;
} 


.quarter-circle-left {
  color: white;
  border: none;
  font-family: Arial, sans-serif;
  font-size: 2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: fixed;
  bottom: 0; 
  left: 0;
  width: 40vw;
  height: 70vh;
  background-color: #2f3291;
  opacity: 0.5;
  border-top-right-radius: 80vw;
}

.quarter-circle-right {
  color: white;
  border: none;
  font-family: Arial, sans-serif;
  font-size: 2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: fixed;
  bottom: 0; 
  right: 0;
  width: 60vw;
  height: 85vh;
  background-color: #2f3291;
  opacity: 0.5;
  border-top-left-radius: 85vh;
}

#userGuess,
#gameScreen button {
  position: relative;
  z-index: 2;
}

#modeScreen button:hover {
  background-color: rgb(219, 204, 167);
}

#gameScreen button:hover {
  background-color: rgb(219, 204, 167);
}

.half-circle-bottom {
  color: white;
  border: none;
  font-family: Arial, sans-serif;
  font-size: 2em;
  cursor: pointer; /* indicate clickable */
  transition: background-color 0.3s ease;
  width: 100%;
  height: 60vh;
  z-index: 1;
  background-color: #2f3291;
  opacity: 0.5;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-top-left-radius: 60vh;
  border-top-right-radius: 60vh;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  text-align: center;
}

#compressedDisplay {
  font-size: 2.8em;
  margin: 20px 0;
  color: #333;
}

#userGuess {
  padding: 1em;
  font-size: 1em;
  width: 60%;
  max-width: 400px;
  margin-bottom: 10px;
}

#feedback {
  margin-top: 20px;
  font-size: 1.2em;
  color: #2f3291;
}
